#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #75726e;
  padding: 0 20px;
  margin-top: 10px;
  font-size: 1em;
}

.header_social-media {
  display: flex;
  gap: 0.5em;
}

.social-media_item img {
  width: 25px;
  height: 25px;
  opacity: 0.4;
  transition: 0.3s;
}

.social-media_item img:hover {
  opacity: 1;
}

#title-lvl {
  font-size: 35px;
  color: #75726e;
  margin: 20px 0;
}

#help-link {
  padding: 5px;
  margin: 0 auto;
  width: 150px;
  display: block;
  background-color: #25211b;
  border-radius: 50px;
  color: #75726e;
  text-decoration: none;
  transition: 0.3s;
}

#help-link:hover {
  text-decoration: underline;
  color: #a8a8a7;
}