.level-bar {
  color: #fff;
  padding: 20px;
}

.level-info {
  font-size: 1.3em;
  margin-top: 15px;
  display: flex;
  gap: 20px;
}

.level-check {
  display: block;
  width: 13px;
  height: 22px;
  border-bottom: 4px solid #80e88a;
  border-right: 4px solid #80e88a;
  transform: rotate(45deg);
}

.level-progress {
  margin-top: 15px;
  height: 2px;
  background-color: #4f4f4f;
}

.line-progress {
  height: 2px;
  background-color: #b1b1b1;
  width: 20%;
  position: relative;
}

.line-progress::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 10px;
  right: -5px;
  top: -1px;
  background-color:#fff;
}

.level-nav {
  position: absolute;
  display: flex;
  gap: 10px;
  top: 40px;
  right: 80px;
}

.prev {
  display: block;
  width: 18px;
  height: 18px;
  border-top: 3px solid #73706d;
  border-left: 3px solid #73706d;
  transform: rotate(-45deg);
  transition: 0.3s;
}

.next {
  display: block;
  width: 18px;
  height: 18px;
  border-top: 3px solid #73706d;
  border-right: 3px solid #73706d;
  transform: rotate(45deg);
  transition: 0.3s;
}

.next:hover {
  border-top: 3px solid #d8d8d8;
  border-right: 3px solid #d8d8d8;
}

.prev:hover {
  border-top: 3px solid #d8d8d8;
  border-left: 3px solid #d8d8d8;
}

.help-info {
  position: absolute;
  margin-top: 30px;
}
.selector-name {
  font-size: 17px;
  color: #b1b1b1;
}
.selector-title {
  font-size: 15px;
  font-weight: 300;
  color: #73706d;
  margin-bottom: 20px;
}
.selector-syntax {
  display: inline-block;
  padding: 5px;
  font-weight: 200;
  font-size: 30px;
  color: #b1b1b1;
  background-color: #26231f;
  border-bottom: 2px solid #73706d;
  text-align: center;
  margin-bottom: 20px;
}
.selector-hint {
  font-size: 15px;
  color: #73706d;
  margin-bottom: 20px;
  padding: 0 10px 0 0;
}
.exemples-title {
  font-size: 15px;
  color: #b1b1b1;
  margin-bottom: 15px;
}
.examples {
  font-size: 15px;
  color: #73706d;
  margin-bottom: 20px;
  padding: 0 10px 0 0;
  line-height: 25px;
}
.example strong {
  background-color: #26231f;
  border-bottom: 1px solid #73706d;
  margin-bottom: 20px;
}

.burger-button span {
  display: block;
  margin-top: 8px;
  width: 30px;
  height: 2px;
  background-color:#73706d;
  transition: 0.3s;
}

.burger-button {
  position: absolute;
  top: 30px;
  right: 25px;
  cursor: pointer;
}

.burger-button:hover > span {
  background-color: #d8d8d8;
}
